<h1>best flats</h1>
    <div class="col-sm-8">
    <div class="raw">
    <% @top_flats.each do |f| %>

    <div class="col-xs-12 col-sm-6">

      <%= render "flat", flat: f %>
    </div>
  <% end %>
  </div>
</div>

</div>






